---
export async function getStaticPaths() {
  const files = import.meta.glob('../*.md', { eager: true });

  return Object.entries(files).map(([filePath, post]) => {
    // Extract the filename without extension
    const slug = filePath
      .split('/')
      .pop()
      .replace(/\.md$/, '');

    return {
      params: { slug },
      props: { post }
    };
  });
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { Content, frontmatter } = post;
---

<article>
  <h1>{frontmatter.title}</h1>
  <Content />
</article>
