---
const allPosts = Object.values(
  import.meta.glob('../*.md', { eager: true })
);

const { slug } = Astro.params;

const post = allPosts.find((p) => p.frontmatter.slug === slug);

if (!post) {
  throw new Error(`Post not found for slug: ${slug}`);
}

const { Content, frontmatter } = post;
---

<article>
  <h1>{frontmatter.title}</h1>
  <Content />
</article>
