<div class="flex gap-6">
  <a
    href="/"
    class="transition-colors duration-150 text-muted-foreground hover:text-foreground"
  >Home</a>
  <a
    href="/about"
    class="transition-colors duration-150 text-muted-foreground hover:text-foreground"
  >About</a>
  <a
    href="/blog"
    class="transition-colors duration-150 text-muted-foreground hover:text-foreground"
  >Blog</a>
  <a
    href="/tags/"
    class="transition-colors duration-150 text-muted-foreground hover:text-foreground"
  >Tags</a>
</div>
