---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import { ClientRouter, fade, slide } from 'astro:transitions';
import Analytics from '@vercel/analytics/astro'
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
      <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://sidharth-notebook.vercel.app/" />
  <meta name="google-site-verification" content="7Dr0-X1ijFUN-fyaiQSMC2-NAK2RxXbLOsG0f9YArsM" />
  <meta name="msvalidate.01" content="AFB6E847841686B3636F6FE4BFBE481F" />

    <!-- HTML Meta Tags -->
<title>Sidharth's Notebook</title>
<meta name="description" content="A cozy corner of the internet where I document my learnings, share unfiltered thoughts, and explore the intersection of technology, life, and everything in between.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://sidharth-notebook.vercel.app/">
<meta property="og:type" content="website">
<meta property="og:title" content="Sidharth's Notebook">
<meta property="og:description" content="A cozy corner of the internet where I document my learnings, share unfiltered thoughts, and explore the intersection of technology, life, and everything in between.">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/7f9b0b8c-2d72-425b-9edb-22d0015e9695.png?token=F8dBy3xdjPpvoG3eTcsl4CsyH4cXT7N3LAcu14QmhvI&height=548&width=1200&expires=33290643741">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="sidharth-notebook.vercel.app">
<meta property="twitter:url" content="https://sidharth-notebook.vercel.app/">
<meta name="twitter:title" content="Sidharth's Notebook">
<meta name="twitter:description" content="A cozy corner of the internet where I document my learnings, share unfiltered thoughts, and explore the intersection of technology, life, and everything in between.">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/7f9b0b8c-2d72-425b-9edb-22d0015e9695.png?token=F8dBy3xdjPpvoG3eTcsl4CsyH4cXT7N3LAcu14QmhvI&height=548&width=1200&expires=33290643741">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
    
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
  
       <slot />
         <Analytics />
    <Footer />
    <script>
      import "../scripts/Menu.js";
    </script>
  </body>
</html>